name: publish github pages

on:
  push:
    branches:
      - source

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          submodules: true
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
      - name: Build
        run: hugo --minify
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          external_repository: wmszhe/wmszhe.github.io
          publish_dir: ./public
          publish_branch: main
          cname: blog.110379.xyz
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public
      - name: deploy github-pages
        id: deployment
        uses: actions/deploy-pages@v4
